@page "/counter"

<h1> test </h1>
<div style="height: 220px; position: relative;" class="col-3">
    <img src="Images/Products/Thumbnails/cupcakes.jpg" class="img-fluid img-thumbnail" alt="test"/>
    <button style="position: relative; right: 0; bottom: 0;"></button>
</div>
@code {
   

}