@page "/filter"
@using Forsøg2.Models
<h3>FilterComponent</h3>
<head>
    <style>
    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      margin: 5px;
    }
    
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
      background-color: #ccc;
    }
    
    /* Style the accordion panel. Note: hidden by default */
    .panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
    }
  </style>
</head>


<button class="accordion" @onclick="@(e => FlipFilter())">Filter</button>
<div class="panel" style="@(Flipper ? "display: block;" : "")">

<EditForm Model="adult">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
            User Id:<br/>
            <InputNumber @bind-Value="id"/>
        </div>
    <div class="form-group">
        First Name:<br/>
        <InputText rows="4" @bind-Value="firstName"/>
    </div>
    <div class="form-group">
        Last Name:<br/>
        <InputText rows="4" @bind-Value="lastName"/>
    </div>
    <div class="form-group">
        Weight:<br/>
        <InputNumber rows="4" @bind-Value="weight"/>
    </div>
    <div class="form-group" >
        HairColor:<br/>
        <InputText rows="4" @bind-Value="hairColor"/>
    </div>
    <div class="form-group">
        Eye Color:<br/>
        <InputText rows="4" @bind-Value="eyeColor"/>
    </div>
    <div class="form-group">
        Age:<br/>
        <InputNumber rows="4" @bind-Value="age"/>
    </div>
    <div class="form-group">
        Height:<br/>
        <InputNumber rows="4" @bind-Value="height"/>
    </div>
    <div class="form-group">
        JobTitle:<br/>
        <InputText rows="4" @bind-Value="jobTitle"/>
    </div>
    <div class="form-group">
        Sex:<br/>
        <InputSelect rows="4" @bind-Value="sex">
            <option value="">Select sex...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </InputSelect>
    </div>
</EditForm>
</div>

@code {
    public bool Flipper;
    
    public string firstName;
    
    public string lastName;
    public string eyeColor;
    public string hairColor;
    public string jobTitle;
    public string sex;
    public int? age;
    public int? height;
    public float? weight;
    public int? id;

    private Adult adult;
    protected override Task OnInitializedAsync()
    {
        adult = new Adult();
        return base.OnInitializedAsync();
    }

    private void FlipFilter()
    {
        Flipper = !Flipper;
    }

}