@page "/AddFamily3"
@using Models
@using ModelsAddFamily
@inject AddFamilyHolder AddFamilyHolder
@inject NavigationManager NavigationManager
<h3>Add Adults</h3>
<h6>step 3/4</h6>
<EditForm Model="@newPerson">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        User Id:<br/>
        <InputNumber @bind-Value="newPerson.Id"/>
    </div>
    <div class="form-group">
        First Name:<br/>
        <InputText rows="4" @bind-Value="newPerson.FirstName"/>
    </div>
    <div class="form-group">
        Last Name:<br/>
        <InputText rows="4" @bind-Value="newPerson.LastName"/>
    </div>
    <div class="form-group">
        Weight:<br/>
        <InputNumber rows="4" @bind-Value="newPerson.Weight"/>
    </div>
    <div class="form-group">
        HairColor:<br/>
        <InputText rows="4" @bind-Value="newPerson.HairColor"/>
    </div>
    <div class="form-group">
        Eye Color:<br/>
        <InputText rows="4" @bind-Value="newPerson.EyeColor"/>
    </div>
    <div class="form-group">
        Age:<br/>
        <InputNumber rows="4" @bind-Value="newPerson.Age"/>
    </div>
    <div class="form-group">
        Height:<br/>
        <InputNumber rows="4" @bind-Value="newPerson.Height"/>
    </div>
    <div class="form-group">
        JobTitle:<br/>
        <InputText rows="4" @bind-Value="newPerson.JobTitle"/>
    </div>
    <div class="form-group">
        Sex:<br/>
        <InputSelect rows="4" @bind-Value="newPerson.Sex">
            <option value="">Select sex...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </InputSelect>
    </div>
</EditForm>

<p class="actions">
    <button style="float: right; background-color: limegreen" class="btn btn-outline-dark" @onclick="NextPage">Next</button>
    <button style="float: right; margin-right: 10px" class="btn btn-outline-dark" @onclick="AddAnotherAdult">Add Another Adult</button>
</p>

@code {
    private Adult newPerson = new Adult();

    private void AddAnotherAdult()
    {
        AddFamilyHolder.family.Adults.Add(newPerson);
        newPerson = new Adult();
    }

    private void NextPage()
    {
        AddFamilyHolder.family.Adults.Add(newPerson);
        NavigationManager.NavigateTo("/AddFamily4");
    }

}